:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fd6b70;
  color: black;
}

@media (prefers-color-scheme: light) {
}

@font-face {
  font-family: "pixel-operator";
  src: url("./assets/pixel-operator.woff2"), url("./assets/PixelOperator.ttf");
}

@font-face {
  font-family: "pokemon-gb";
  src: url("./assets/PokemonGB.woff2"), url("./assets/PokemonGb-RAeo.ttf");
}
